.dib-dialog-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 1000;
    overflow: hidden;
}
.dib-dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 400px;
    max-width: 400px;
    font-family: "Microsoft Yahei", sans-serif;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #4c4c4c;
    background: white;
    font-size: 13px;
    transition: all 0.6s; 
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    cursor: default;
}
.dib-dialog-btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.2s;
}
.dib-dialog-btn-close img {
    float: left;
    font-size: 0;
    vertical-align: middle;
}
.dib-dialog-btn-close:hover {
    background: #eee;
}
.dib-dialog-title {
    padding: 0.8em 1.5em;
    padding-bottom: 0;
    /* border-bottom: 1px solid #eee; */
    background: #fff;
    font-size: 1.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
.dib-dialog-content {
    padding: 2em 1.5em;
    color: #777;
    transition: all 0.2s;
    /* min-height: 30px; */
}
.dib-dialog-content a {
    padding: 0 3px;
    color: #FF8C00;
    text-decoration: none;
    border-bottom: 1px solid #FF8C00;
}
.dib-dialog-content a:hover {
    background: #ffeedb;
    border-bottom: none;
}
.dib-dialog-btns-wrapper {
    width: 100%;
    border-top: 1px solid #ddd;
}
.dib-dialog-btns {
    text-align: right;
    background: #eee;
    padding: 0.8em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dib-dialog-btn {
    display: inline-block;
    margin: 0.5em;
    padding: 0.3em 0.6em;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.2s; 
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
.dib-dialog-btn:hover {
    border-color: #FF8C00;
}
.dib-dialog-btn-disabled {
    border-color: #ccc;
    color: #aaa;
    background: #ddd;
}
.dib-dialog-btn-disabled:hover {
    border-color: #ccc;
    color: #aaa;
    background: #ddd;
}
.dib-dialog-btn-important {
    border-color: #FFA500;
    color: white;
    background: #FFA500;
}
.dib-dialog input {outline: none;}
@-webkit-keyframes fade-in {
  from {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -20%, 0) scale(0.5);
    transform: translate3d(0, -20%, 0) scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -20%, 0) scale(0.5);
    transform: translate3d(0, -20%, 0) scale(0.5);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in {
    animation: fade-in 0.3s;
    -webkit-animation: fade-in 0.3s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
/* shake */

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
    animation: shake 1s;
    -webkit-animation: shake 1s;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}